@import 'tailwindcss';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.bg-radial-ellipse {
  background: radial-gradient(ellipse 100% 125% at 50% 0%, 
                              var(--secondBackground), 
                              var(--secondBackground) 50%, 
                              var(--mainBackground) 75%);
}

.dark {
  --mainBackground: #121212;
  --secondBackground: #1A1824;
  --bodyText: #ffffff;
  --headerText: #B6ACF8;
  --mainTitleSecond: #364DEA;
  --cardBackground: #282828;
}

.light {
  --mainBackground: #f0f0f0;
  --secondBackground: #e2dde8;
  --bodyText: #000000;
  --headerText: #364DEA;
  --mainTitleSecond: #B6ACF8;
  --cardBackground: #ffffff;
}